<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
 
    <form style="align:center" method="post" th:action="@{/stores/__${store.id}__/addCollaborator}">
<fieldset>
  <div>
    <select name="user-id">
    	<option selected="selected" disabled="disabled">Please select the collaborator</option>
    	<option th:each="user: ${users}" th:value="${user.ID}" th:text="${user.username}"></option>
    </select>
  </div>
    <button type="submit" name="add">
    Add
  </button>

  </fieldset>
    </form>
</body>
</html>