<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
 
    <form style="align:center" method="post" action="/products">
<fieldset>
  <div >
    <input name="name" placeholder="Product Name" type="text"></input>
  </div>
  <div>
    <input name="price" placeholder="Price" type="text"></input>
  </div>
    <div>
    <input name="category" placeholder="Category" type="text"></input>
  </div>
  <div>
   <div>
    <input name="productType" placeholder="Product Type" type="text"></input>
  </div>
  <div>
    <select name="brandId">
    	<option selected="selected" disabled="disabled">Please select the brand</option>
    	<option th:each="brand: ${brands}" th:value="${brand.ID}" th:text="${brand.name}"></option>
    </select>
  </div>
    <button type="submit">
    Add
  </button>
  </div>
  </fieldset>
    </form>
</body>
</html>